@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.img{
  width: 30%;
  margin-bottom: 50px;
  z-index: 2;
}
.gradient{
  background: rgb(240,240,245);
  background: radial-gradient(circle, rgba(240,240,245,0.8) 0%, rgba(240,240,245,0.8) 18%, rgba(255,255,255,0.8) 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.container{
  position: relative;
  background-image: url("../assets/bg.png");
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  
}
.forms{
  width: 80%;
  justify-content: center;
  margin-bottom: 180px;
  z-index: 2;
}
.title{
  color: #6D300F;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  z-index: 2;
}
.txt-field{
  margin: 14px 0 14px 0;
  height: 60px;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  outline: none;
  transition: all .5s;
}
.txt-field:focus{
  border:2px solid #6D300F;
  transform: scale(1.02);

}

.confirm-btn{
  color:white;
  background-color: #6D300F;
  border: none;
  height: 60px;
  border-radius: 8px;
  margin-top: 14px;
  font-weight: bold;
  font-size: 16px; 
  transition: all 0.5s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.301);
  outline: none;
}
.confirm-btn:hover{
  transform: scale(0.98);
  background-color: #622b0e;

}
.confirm-btn:focus{
  transform: scale(1.02);
  border: 2px solid #4b2009;;
}
#dark{
  display: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: all .5s;
}
#modal{
  background-color: #ffffff;
  border-radius: 8px;
  width: 90vw;
  height: 60vh;
  position: absolute;
  z-index: 4;
  transition: all .5s;
  display: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.397);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal img{
  width: 40%;
  margin-bottom: 30px;
}
#modal h2{
  text-align: center;
  font-size: 32px;
  width: 80%;
  margin-bottom: 40px;
}
#modal p{
  width: 70vw;
  text-align: center;
  font-size: 16px;
  margin-bottom: 24px;
}
/*Styles*/
.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.col{
  flex-direction: column;
}